<?xml version="1.0f"?>
<!DOCTYPE PLAY SYSTEM play.dtd>
<settings>
	<windowTitle>Lonely Pilot v1.0</windowTitle>
	<screenWidth>1024</screenWidth>
	<screenHeight>768</screenHeight>
</settings>


<player>
	<texturePath>..\\Resources\\Visual\\PlayerSheet2.png</texturePath>
	<textureFrontPath>..\\Resources\\Visual\\OptionsMenuParts\\Spaceship.png</textureFrontPath>
	<textureLasersPath>..\\Resources\\Visual\\lasers.png</textureLasersPath>
	<speedX>1805.0</speedX>
	<speedY>255.5</speedY>
	<maxSpeed>600.0</maxSpeed>
	<collisionBumper>0.2</collisionBumper>
	<damageBoost>1</damageBoost>
</player>

<star>
<texturePath>..\\Resources\\Visual\\Star.png</texturePath>
<amountOfStars>90</amountOfStars>
</star>

<enemies>
<BaldusTexturePath>..\\Resources\\Visual\\BaldusSheet4.png</BaldusTexturePath>
</enemies>

<HUD>
<LivesTexturePath>..\\Resources\\Visual\\HUD\\Lives.png</LivesTexturePath>
<HealthBarTexturePath>..\\Resources\\Visual\\HUD\\HealthBar.png</HealthBarTexturePath>
</HUD>