<?xml version="1.0"?>
<!DOCTYPE PLAY SYSTEM "play.dtd">

<WINDOW>	
	<HEIGHT> 768 </HEIGHT>
	<RATIO> 12 </RATIO>
</WINDOW>

<STAR>
	<TEXTUREPATH>c:/Project/Art/Star.png</TEXTUREPATH>
	<SPEED_ENHANCEMENT> 1.0 </SPEED_ENHANCEMENT>
</STAR>

<PLAYER>
	<TEXTUREPATH>c:/Project/Art/Player.png</TEXTUREPATH>
	<HEALTH> 100 </HEALTH>
	<SPEED_X> 1105.0 </SPEED_X>
	<SPEED_Y> 505.5 </SPEED_Y>
</PLAYER>

<AMBULANCE>
	<TEXTUREPATH>c:/Project/Art/Car.png</TEXTUREPATH>
	<VELOCITY> 50.0 </VELOCITY>
	<MAX_FRAME> 0.33 </MAX_FRAME>
</AMBULANCE>
